.btn-outline-success {
  color: blueviolet;
  border-color: blueviolet;
}

.btn-outline-success:hover {
  background-color: blueviolet;
  color: white;
  border-color: blueviolet;
}
.card-text {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
}
.first-line {
  border-bottom: 1px solid #bb8fce;
}
.second-line a {
  text-decoration: none;
  color: white;
}

.nav-link {
  font-size: 30px;
}
.navbar-light .navbar-brand {
  color: #bb8fce;
}
.main-title {
  font-family: Georgia, serif;
}

.third-line {
  display: none;
}

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }
  .second-line {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #bb8fce;
  }
  .third-line {
    display: block;
    text-align: center;
  }
}
